@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';

:root {
	--dk-gray-100: #F3F4F6;
	--dk-gray-200: #E5E7EB;
	--dk-gray-300: #D1D5DB;
	--dk-gray-400: #9CA3AF;
	--dk-gray-500: #6B7280;
	--dk-gray-600: #4B5563;
	--dk-gray-700: #374151;
	--dk-gray-800: #1F2937;
	--dk-gray-900: #111827;
	--dk-dark-bg: #313348;
	--dk-darker-bg: #2a2b3d;
	--navbar-bg-color: #6f6486;
	--sidebar-bg-color: #252636;
	--sidebar-width: 250px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #ffff;
	font-size: .925rem;
}

#wrapper {
	margin-left: var(--sidebar-width);
	transition: all .3s ease-in-out;
}

#wrapper.fullwidth {
	margin-left: 0;
}



/** --------------------------------
 -- Sidebar
-------------------------------- */
.sidebar {
	background-color: rgba(58, 156, 255, 0.589);
	width: var(--sidebar-width);
	transition: all .3s ease-in-out;
	transform: translateX(0);
	z-index: 9999999
}

.sidebar .close-aside {
	position: absolute;
	top: 7px;
	right: 7px;
	cursor: pointer;
	color: #EEE;
}

.sidebar .sidebar-header h5 a {
	color: var(--dk-gray-300)
}

.sidebar .sidebar-header p {
	color: var(--dk-gray-400);
	font-size: .825rem;
}

.sidebar .search .form-control ~ i {
	color: #2b2f3a;
	right: 40px;
	top: 22px;
}

.sidebar > ul > li {
	padding: .7rem 1.75rem;
}

.sidebar ul > li > a {
	color: var(--dk-gray-400);
	text-decoration: none;
}

/* Start numbers */
.sidebar ul > li > a > .num {
	line-height: 0;
	border-radius: 3px;
	font-size: 14px;
	padding: 0px 5px
}

.sidebar ul > li > i {
	font-size: 18px;
	margin-right: .7rem;
	color: var(--dk-gray-500);
}

.sidebar ul > li.has-dropdown > a:after {
	content: '\eb3a';
	font-family: unicons-line;
	font-size: 1rem;
	line-height: 1.8;
	float: right;
	color: var(--dk-gray-500);
	transition: all .3s ease-in-out;
}

.sidebar ul .opened > a:after {
	transform: rotate(-90deg);
}

/* Start dropdown menu */
.sidebar ul .sidebar-dropdown {
	padding-top: 10px;
	padding-left: 30px;
	display: none;
}
.sidebar ul .sidebar-dropdown.active {
	display: block;
}

.sidebar ul .sidebar-dropdown > li > a {
  font-size: .85rem;
	padding: .5rem 0;
	display: block;
}
/* End dropdown menu */

.show-sidebar {
	transform: translateX(-270px);
}

@media (max-width: 767px) {
	.sidebar ul > li {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.sidebar .search {
		padding: 10px 0 10px 30px
	}
}




/** --------------------------------
 -- welcome
-------------------------------- */
.welcome {
	color: var(--dk-gray-300);
}

.welcome .content {
	background-color: var(--dk-dark-bg);
}

.welcome p {
	color: var(--dk-gray-400);
}




/** --------------------------------
 -- Statistics
-------------------------------- */
.statistics {
	color: var(--dk-gray-200);
}

.statistics .box {
	background-color: var(--dk-dark-bg);
}

.statistics .box i {
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.statistics .box p {
	color: var(--dk-gray-400);
}




/** --------------------------------
 -- Charts
-------------------------------- */
.charts .chart-container {
	background-color: var(--dk-dark-bg);
}

.charts .chart-container h3 {
	color: var(--dk-gray-400)
}




/** --------------------------------
 -- users
-------------------------------- */
.admins .box .admin {
	background-color: var(--dk-dark-bg);
}

.admins .box h3 {
	color: var(--dk-gray-300);
}

.admins .box p {
	color: var(--dk-gray-400)
}




/** --------------------------------
 -- statis
-------------------------------- */
.statis {
	color: var(--dk-gray-100);
}

.statis .box {
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}

.statis .box h3:after {
	content: "";
	height: 2px;
	width: 70%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.12);
	display: block;
	margin-top: 10px;
}

.statis .box i {
	position: absolute;
	height: 70px;
	width: 70px;
	font-size: 22px;
	padding: 15px;
	top: -25px;
	left: -25px;
	background-color: rgba(255, 255, 255, 0.15);
	line-height: 60px;
	text-align: right;
	border-radius: 50%;
}





.main-color {
	color: #ffc107
}

/** --------------------------------
 -- Please don't do that in real-world projects!
 -- overwrite Bootstrap variables instead.
-------------------------------- */

.navbar {
	background-color: rgba(58, 156, 255, 0.18) !important;
	border: none !important;
}
.navbar .dropdown-menu {
	right: auto !important;
	left: 0 !important;
}
.navbar .navbar-nav>li>a {
	color: #EEE !important;
	line-height: 55px !important;
	padding: 0 10px !important;
}
.navbar .navbar-brand {color:#FFF !important}
.navbar .navbar-nav>li>a:focus,
.navbar .navbar-nav>li>a:hover {color: #EEE !important}

.navbar .navbar-nav>.open>a,
.navbar .navbar-nav>.open>a:focus,
.navbar .navbar-nav>.open>a:hover {background-color: transparent !important; color: #FFF !important}

.navbar .navbar-brand {line-height: 55px !important; padding: 0 !important}
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover {color: #FFF !important}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin: 0 !important}
@media (max-width: 767px) {
	.navbar>.container-fluid .navbar-brand {
		margin-left: 15px !important;
	}
	.navbar .navbar-nav>li>a {
		padding-left: 0 !important;
	}
	.navbar-nav {
		margin: 0 !important;
	}
	.navbar .navbar-collapse,
	.navbar .navbar-form {
		border: none !important;
	}
}

.navbar .navbar-nav>li>a {
	float: left !important;
}
.navbar .navbar-nav>li>a>span:not(.caret) {
	background-color: #e74c3c !important;
	border-radius: 50% !important;
	height: 25px !important;
	width: 25px !important;
	padding: 2px !important;
	font-size: 11px !important;
	position: relative !important;
	top: -10px !important;
	right: 5px !important
}
.dropdown-menu>li>a {
	padding-top: 5px !important;
	padding-right: 5px !important;
}
.navbar .navbar-nav>li>a>i {
	font-size: 18px !important;
}




/* Start media query */

@media (max-width: 767px) {
	#wrapper {
		margin: 0 !important
	}
	.statistics .box {
		margin-bottom: 25px !important;
	}
	.navbar .navbar-nav .open .dropdown-menu>li>a {
		color: #CCC !important
	}
	.navbar .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #FFF !important
	}
	.navbar .navbar-toggle{
		border:none !important;
		color: #EEE !important;
		font-size: 18px !important;
	}
	.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {background-color: transparent !important}
}


::-webkit-scrollbar {
	background: transparent;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #3c3f58;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.uil-map-marker-home::after {
  content:'';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('https://cdn-icons-png.flaticon.com/128/2544/2544087.png');
  background-size: cover;
  border-radius: 5px;
  position: relative;
  top: 8px;
}

li {
  transition: all 0.4s;
}

li:hover {
  opacity: 0.7;
}

li:active {
  opacity: 0.5;
}

.uil-map-marker-admin::after {
  content:'';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('https://cdn-icons-png.flaticon.com/128/8258/8258405.png');
  background-size: cover;
  border-radius: 5px;
  position: relative;
  top: 8px;
}

.uil-map-marker-teacher::after {
  content:'';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('https://t4.ftcdn.net/jpg/05/29/74/05/240_F_529740584_1NUibxPP3I6u73H2TZJbpeYLzdSrBZFx.jpg');
  background-size: cover;
  border-radius: 5px;
  position: relative;
  top: 8px;
}

.uil-map-marker-student::after {
  content:'';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('https://cdn-icons-png.flaticon.com/128/2830/2830284.png');
  background-size: cover;
  border-radius: 5px;
  position: relative;
  top: 8px;
}

.uil-map-marker-course::after {
  content:'';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('https://cdn-icons-png.flaticon.com/128/3650/3650618.png');
  background-size: cover;
  border-radius: 5px;
  position: relative;
  top: 8px;
}

.logout-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-header {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  margin: 0;
  text-align: center;
  color:#ffffff
}

/* COURSE CSS */

.form-course {
  width: 95% !important;
  margin: auto !important;
}

.add-btn {
  border: transparent;
  border-radius: 10px;
  padding: 5px 12px;
  background-color: #6F6486;
  color: #ffffff;
  max-width: 250px;
  width: 100%;
}

.table {
  width: 95% !important;
  margin: auto !important;
}

.course-heading {
  margin: 0;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #6F6486;
}

.delete-img {
  cursor: pointer;
}

/* Groups CSS */

.group-heading {
  margin: 0;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  color: #6F6486;
}

.wrapper-groups {
  width: 95% !important;
  margin: auto !important;
}

.card-header {
  text-align: center;
  background-color: #252636 !important;
  color: #ffffff;
}

.card-title {
  font-size: 18px;
  margin: 0;
  color: #ffffff;
}

.card-subtitle {
  font-size: 18px;
  margin: 0;
  color: hsl(259, 45%, 80%);
}

.img-teacher {
  border-radius: 50%;
}

.card-body-teacher-name {
  font-weight: 700;
  font-size: 14px;
  color: #252636;
}

.card-body-teacher-number {
  font-weight: 700;
  font-size: 14px;
  color: #252636;
}

.teacher {
  font-size: 14px;
  font-weight: 700;
  color: hsl(260, 96%, 78%);
}

.number {
  font-size: 14px;
  font-weight: 700;
  color: hsl(260, 96%, 78%);
}

.card-news-day {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  color: #252636;
}

.card-news-day-week {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: hsl(260, 96%, 78%);
}

.delete-group-btn {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  border: transparent;
  background: transparent;
}

.label-group {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: hsl(260, 96%, 78%);
}

.select-wrapper {
  margin-top: 20px;
  max-width: 300px;
}

.card {
	margin-top: 25px;
}

.select-wrapper + .select-wrapper {
  margin-left: 30px;
}

/* TEACHER CSS */

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding: 10px 12px;
  background-color: #4245a8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}

/* TEACHER */

.rows {
	cursor: pointer;
}

/* STUDENT */

.student-card {
	max-width: 380px;
}

.homework-heading {
	margin: 0;
	color: red;
	font-weight: 600;
}

/* STATISTIKA */

.static {
	padding: 20px 35px;
	max-width: 500px;
	width: 100%;
	border: 7px solid hsl(260, 96%, 78%) !important;
	border-radius: 50px;
	background: #252636 !important;
	color: #FFC107;
}

.static-heading {
	margin: 0;
	font-weight: 700;
	font-size: 30px;
}

.static-desc {
	margin: 0;
	font-weight: 700;
	font-size: 30px;
}

/* ANIMATION */

.block{
  height: 90px;
  width:400px;
  margin:0 auto;
/*   background: #343436; */
}
.block p{
	font-weight: 700;
	font-size: 30px;
  text-align:center;
  color:#ff0000;
  text-transform: uppercase;
  padding-top: 35px;
  animation: text 5s infinite linear;
  padding-left: 80%;
  white-space: nowrap;
}
@keyframes text {
  0%{
    transform: translate(0, 0);
  }

  100%{
    transform: translate(-160%, 0);
  }
}


/* HOME PAGE */

.logout {
  background-color: transparent;
  border: transparent;
}

.content {
	background-color: #DBEDFF !important;
}

#wrapper {
	max-height: 720px !important;
	overflow: auto !important;
}

.btn-updated {
	border: transparent;
}